# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Training Outputs
runs/

# Datasets
datasets/

# Model Weights
*.pt

# ONNX Models (optional)
# Uncomment if you don't want to upload ONNX models
# *.onnx

# Operating System Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment Variables
.env

# Test videos
assets/
